src/data/datasets/*
src/data/identifiers/*
notebooks/
!notebooks/.gitkeep
checkpoints/
!checkpoints/.gitkeep
metrics/*
!metrics/.gitkeep
wandb/*
!wandb/.gitkeep
*.h5
*.gif
*.png
*.pkl
*.npy
*.npz
*.pyc
